ElasticsearchWebApiSample/packages
ElasticsearchWebApiSample/ElasticsearchWebApiSample/bin
ElasticsearchWebApiSample/ElasticsearchWebApiSample/obj
ElasticsearchWebApiSample/ElasticsearchWebApiSample/obj/Debug